.megabutton *, .megabutton *:after, .megabutton *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.megabutton {
	position: relative;
	height: 50px;
	width: 100%;
	margin: .5em 0 0;
	font-size: 25px;
	text-align: center;
	line-height: 1.5em;
	background: #aaa;

	-o-border-radius: .25em;
	border-radius: .25em;

    -webkit-perspective: 25em;
	-moz-perspective: 25em;
	-ms-perspective: 25em;
	-o-perspective: 25em;
	perspective: 25em;

	-webkit-transition: background .3s, color .3s;
	-moz-transition: background .3s, color .3s;
	-ms-transition: background .3s, color .3s;
	-o-transition: background .3s, color .3s;
	transition: background .3s, color .3s;
    
    -webkit-transform: translateZ(0);
}

.megabutton:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 2em;
	width: 100%;
	text-align: center;
	line-height: 2em;
	color: #fff;
	margin-bottom: -2em;

    -o-border-radius: .25em;
	border-radius: .25em;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -webkit-transform .3s;
	-ms-transition: -webkit-transform .3s;
	-o-transition: -webkit-transform .3s;
	transition: transform .3s;
}

.megabutton:hover, .megabutton:active {
	background: #ddd;
}

.megabutton:hover:before, .megabutton:active:before {
	-webkit-transform: rotateX(110deg);
	-moz-transform: rotateX(110deg);
	-o-transform: rotateX(110deg);
	-ms-transform: rotateX(110deg);
	transform: rotateX(110deg);
}

.megabutton-button {
	height: 2em;
	width: 78%;
	float: left;
	line-height: 2em;
}

/* social colors */
.megabutton-twitter:before {
	background: rgb(64,192,241);
}

.megabutton-twitter .megabutton-profil {
	background: rgb(0,172,237);
}

.megabutton-facebook:before {
	background: rgb(107,129,178);
}

.megabutton-facebook .megabutton-profil {
	background: rgb(59,89,152);
}

.megabutton-google-plus:before {
	background: rgb(229,119,106);
}

.megabutton-google-plus .megabutton-profil {
	background: rgb(221,75,57);
}

.megabutton-linkedin:before {
	background: rgb(42,135,179);
}

.megabutton-linkedin .megabutton-profil {
	background: rgb(0,123,182);
}

/* special button positioning */
.megabutton-facebook .fb_iframe_widget span {
	vertical-align: baseline !important;
}

/* profil-link*/
.megabutton-profil {
	width: 22%;
	height: 2em;
	line-height: 2em !important;
	float: right;
    text-decoration: none;

    -o-border-radius: 0 .25em .25em 0;
	border-radius: 0 .25em .25em 0;
}

.megabutton-profil, .megabutton a {
	color: #fff;
}

.megabutton-profil:before {
    font-size: .8em;
}

.megabutton-profil, .megabutton a:hover {
	color: #ddd;
}
